{
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
